.banner { 
    width: 100%;
    height: 300px;
    background-color: red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.avatar-img { 
   width: 150px;
   height: 150px;
}

.avatar-img > h1 {
    text-transform: uppercase;
}