.banner { 
    width: 100%;
    height: 300px;
    background-color: #D40A44;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white
}

.avatar-img { 
   width: 150px;
   height: 150px;
}

.banner > h1 {
    text-transform: uppercase;
    padding-top: 25px;
}

.banner > span {
    text-transform: capitalize;
    font-size: 15px;
}