/* Título do portfolio */
.portfolio-title {
    text-transform: uppercase;
    text-align: center;
}

.portfolio-title > .container {
    padding: 20px;
    display:  flex;
    justify-content: center;
    align-items: center;
}

.portfolio-title > .container > .bar {
    margin: 5px;
    width: 40px;
    height: 2px;
    background-color: black;
}

.portfolio-title > .container > .far.fa-star {
    color: black;
}


/* imagens do portfolio */
.portfolio {
    display: flex;
    flex-wrap: wrap;
    max-width: 800px;
    margin: 0 auto; 
}

.portfolio > div {
    flex: 1 1 200px;
    margin: 7px;
}

.portfolio > div > img {
    max-width: 100%;
    display: block;
}