.portfolio {
    display: flex;
    flex-wrap: wrap;
    max-width: 800px;
    margin: 0 auto; 
}

.portfolio > div {
    flex: 1 1 200px;
    margin: 7px;
}

.portfolio > h1 {
    color: black;
    text-transform: uppercase;
}

.portfolio > div > img {
    max-width: 100%;
    display: block;
}

.container {
    display:  flex;
    justify-content: center;
    align-items: center;
}

.bar {
    width: 30px;
    height: 2px;
    background-color: black;
}

.far.fa-star {
    color: black;
}
